# Lista de Exercícios

A lista de exercícios tem por objetivo colocar a mão na massa e relembrar os conceitos que foram passados nas aulas anteriores.

<center><img src="https://images.unsplash.com/photo-1542903660-eedba2cda473?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" height="400px"></center>

## Exercício 1

* Importar o pacote Pandas
* importar os dados de ocorrências da aviação civil neste link
* Ver qual o tamanho (linhas x colunas) do *DataFrame*
* Verificar as 5 primeiras

**Importe o Pandas e importe os dados de ocorrências da aviação civil que se encontram em `csv` [neste link](https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/ocorrencias_aviacao.csv).**

In [ ]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/ocorrencias_aviacao.csv')
df

**Veja qual o tamanho (linhas e colunas) do conjunto de dados importado.**

In [ ]:
import pandas as pd

df.shape
row = df.shape[0]
columns = df.shape[1]
print("Linhas:", row)
print("Colunas:", columns)

**Identifique o tipo de cada coluna (inteiro, float, object).**

In [ ]:
import pandas as pd
print(df.dtypes)

**Veja as 3 primeiras entradas do conjunto de dados.**

In [ ]:
import pandas as pd
primeiras = df.head(3)
primeiras

**Veja quantos valores únicos existem para a coluna `ocorrencia_classificacao`**

In [ ]:
import pandas as pd
df['ocorrencia_classificacao'].unique()

array(['ACIDENTE', 'INCIDENTE GRAVE', 'INCIDENTE'], dtype=object)

**Descubra qual Estado possui o maior número de ocorrências com aeronaves civis.**

In [ ]:
import pandas as pd
freq = df.groupby(['ocorrencia_uf']).size().sort_values(ascending=False)
freq

**Quantos por cento das ocorrências são do tipo `FALHA DO MOTOR EM VOO`?**

In [ ]:
import pandas as pd
serch = "FALHA DO MOTOR EM VOO"
data["count"]= data["Name"].str.count(search, re.I)
dfp['porcentagem'] = (df['ocorrencia_tipo'] / df['ocorrencia_tipo'].sum())
dfp.head(3)
#não consegui

## Exercício 2

Você irá trabalhar agora com os dados da ação BBAS3, do Banco do Brasil na BOVESPA.

Na variável `df_bbas3`, foi importado [este arquivo `csv`](https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/BBAS3.SA.csv), onde o *index* do *DataFrame* representa os valores da ação para determinado dia. Responda as perguntas abaixo.

In [ ]:
# importar pandas
import pandas as pd

df_bbas3 = pd.read_csv("https://raw.githubusercontent.com/carlosfab/dsnp2/master/datasets/BBAS3.SA.csv", index_col="Date")

**Veja as 5 primeiras entradas da variável `df_bbas3`.**

In [ ]:
import pandas as pd
df_bbas3.head(5)

                 Open       High        Low      Close  Adj Close      Volume
Date
2019-05-06  49.470001  49.669998  49.180000  49.369999  46.886795   6314800.0
2019-05-07  49.080002  49.680000  48.220001  49.490002  47.000763  10846100.0
2019-05-08  49.500000  50.840000  49.500000  50.590000  48.045422  14459600.0
2019-05-09  50.910000  51.259998  50.119999  51.029999  48.463291  15377500.0
2019-05-10  51.099998  51.189999  49.860001  50.160000  47.637051   8975300.0

**Quais são os valores da ação para o dia 04 de outubro de 2019?**

In [ ]:
import pandas as pd
df_bbas3.loc[pd.to_datetime(df_bbas3.Date) == '2019.10.04']
#não consegui

**Qual a média do Volume financeiro movimentado em todo o período?**

In [ ]:
import pandas as pd
import numpy as np

df_bbas3["Volume"].agg(np.mean)